<a href="https://colab.research.google.com/github/moonsunglab/BigData_study/blob/main/Lab_Python/Python07_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플(tuple)

*   `tuple`: 저장된 아이템들을 변경할 수 없는 리스트.
*   인덱스 기반의 데이터 타입.
    *   indexing: 특정 인덱스 위치의 아이템을 읽어옴.
    *   slicing: 특정 인덱스 범위의 아이템들로 이루어진 **새로운 튜플**을 만듦.
*   append, extend, insert, pop, remove, clear,.... 와 같은 함수들은 제공되지 않음.

In [ ]:
numbers = (1, 2, 3, 1, 1, 2)
print(type(numbers))
numbers

<class 'tuple'>

(1, 2, 3, 1, 1, 2)

In [ ]:
len(numbers)    # 튜플의 아이템의 개수

6

In [ ]:
numbers.count(1)        # list or tuple.count(value): 리스트 또는 튜플에서 value가 나오는 횟수를 리턴.

3

In [ ]:
numbers.index(2)        # list or tuple.index(value): 리스트 또는 튜플에서 value가 처음나오는 인덱스를 리턴

1

# Indexing

In [ ]:
numbers

(1, 2, 3, 1, 1, 2)

In [ ]:
numbers[0]   # 튜플 numbers의 첫번째 원소

1

In [ ]:
numbers[-1]   # 튜플 numbers의 마지막 원소

2

#slicing

In [ ]:
numbers[:3]

(1, 2, 3)

In [ ]:
numbers[-3:]

(1, 1, 2)

# tuple과 for 반복문

In [ ]:
for x in (1, 10, -2, -20, 30):
    print(x)

1
10
-2
-20
30

In [ ]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

In [ ]:
for x in matrix:
    for y in x:
        print(y, end = '\t')
    print()

1	2	3
4	5	6
7	8	9

# list | Tuple decomposition(분해)

In [ ]:
integers = (1,2,3)
# x = integers[0]
# y = integers[1]
# z = integers[2]

# x , y , z = integers[0], integers[1], integers[2]

x, y, z = integers      # integers의 아이템이 3개니까 가능.
print(x,y,z)

1 2 3

In [ ]:
names = ['홍길동', '오쌤', ]
person1, person2 = names
print(person1, person2)

홍길동 오쌤