<a href="https://colab.research.google.com/github/moonsunglab/BigData_study/blob/main/Lab_Python/Python06_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트(list)

*   `list`: 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
*   원소(element), 아이템(item): 리스트에 저장된 각각의 값.
*   인덱스(index): 리스트에 원소들이 저장된 위치를 표시하는 정수.
    *   리스트의 인덱스는 **0**부터 시작
    *   리스트에서 마지막 원소의 인덱스는 (원소 개수 - 1).
*   리스트는 원소들을 추가, 변경, 삭제할 수 있음.
    *   `tuple`과 다른점.

In [ ]:
# 숫자들을 저장하는 list
numbers = [1, 2, 10, 20, -1, -2]
f'{type(numbers)} / {numbers}'

"<class 'list'> / [1, 2, 10, 20, -1, -2]"

In [ ]:
# 파이썬의 리스트는 여러 타입의 값들을 하나의 변수에 저장할 수 있음.
values = [1, 2, '안녕', '파이썬', True, False, [1,2,3]]
f'{type(values)} / {values}'

"<class 'list'> / [1, 2, '안녕', '파이썬', True, False, [1, 2, 3]]"

# Indexing

인덱스를 사용해서 리스트의 아이템을 사용하는 방법.

In [ ]:
numbers = [1, -2, 3, 10, -20,100]
numbers

[1, -2, 3, 10, -20, 100]

In [ ]:
numbers[0]  # 리스트 numbers의 첫번째 아이템

1

In [ ]:
numbers[5]   # 리스트 numbers의 다섯번째 아이템(마지막 원소)

100

In [ ]:
numbers[-1]     #리스트 numbers의 마지막 아이템(다섯번째 원소)

100

In [ ]:
numbers[-2]     # 리스트 numbers의 끝에서 두번쨰 아이템

# slicing

`list[start:end]`
*   list에서 인덱스 start <= index < end 범위의 아이템들을 잘라내는 방법
*   시작 인덱스 start를 생략하면 첫번째 원소부터 잘라냄. start의 기본값은 0.
*   종료 인덱스 end를 생략하면 마지막 원소까지 잘라냄.
*   slicing의 결과는 **새로운 리스트**.

In [ ]:
numbers

[1, -2, 3, 10, -20, 100]

In [ ]:
numbers[1:4]

[-2, 3, 10]

In [ ]:
# 리스트 numbers에서 첫번쨰 원소부터 3개의 원소를 잘라내기
numbers[:3] # = numbers[0:3]

[1, -2, 3]

In [ ]:
# 리스트 numbers에서 인덱스 4번 위치부터 마지막 원소까지 잘라냄
numbers[4:] # = numbers[4:6]

[-20, 100]

In [ ]:
# 리스트 numbers에서 끝에서 2개의 아이템들을 잘라냄.
numbers[-2:]

[-20, 100]

In [ ]:
print(numbers[0])       # 리스트의 원소
print(numbers[0:1])     # 리스트(부분집합)

1
[1]

In [ ]:
numbers.append(numbers[:2])
numbers

[1, -2, 3, 10, -20, 100, [1, -2]]

In [ ]:
numbers

[1, -2, 3, 10, -20, 100, [1, -2]]

# 문자열(String)

문자열: 문자들의 리스트.
*   문자들의 리스트.
*   인덱스를 사용할 수 있음.
    *   indexing
    *   slicing

In [ ]:
message = '안녕, Python!'
message

'안녕, Python!'

In [ ]:
message[0]# 문자열 message의 첫번째 문자

'안'

In [ ]:
message[-1] # 문자열의 마지막 문자

'!'

In [ ]:
message[:2]  #문자열에서 첫 두 글자

'안녕'

In [ ]:
message[-2:]     #문자열에서 마지막 두 글자

'n!'

# 리스트의 산술 연산

*   `list + list`: concatenate. 2개의 리스트의 원소들을 합쳐서 하나의 리스트로 만듦.
*   `list * int`: replicate. 리스트의 원소들을 정수만큼 복사.

In [ ]:
print('안녕' + 'Python')
print('안녕' * 3)

안녕Python
안녕안녕안녕

In [ ]:
[1,2,3] +[10,20,30]

[1, 2, 3, 10, 20, 30]

In [ ]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 기능들 - 함수(메서드)

## 원소 추가

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [ ]:
# list.append(값): list의 가장 마지막에 (값)을 추가.
numbers.append(100)

In [ ]:
numbers

[1, 2, 3, 4, 5, 100]

In [ ]:
# list.insert(idx.value): 인덱스 idx 위치 바로 앞에 value를 원소로 추가
numbers.insert(0, -1)
numbers

[-1, 1, 2, 3, 4, 5, 100]

In [ ]:
numbers.insert(-1,-100)
numbers

[-1, 1, 2, 3, 4, 5, -100, 100]

In [ ]:
# list.extend(iterable): iterable의 원소들을 하나씩 리스트의 끝에 append.
numbers.extend([11,22,33])
numbers

[-1, 1, 2, 3, 4, 5, -100, 100, 11, 22, 33]

In [ ]:
#(주의) append와 extend의 차이점:
# numbers.extend(3) 안됨 iterable이 아니라서
numbers.append([1,2,3])

In [ ]:
numbers

[-1, 1, 2, 3, 4, 5, -100, 100, 11, 22, 33, [1, 2, 3]]

## 원소삭제

In [ ]:
numbers = [1, 2, 3, 10, 20, 30, 1, 2, 3]
numbers

[1, 2, 3, 10, 20, 30, 1, 2, 3]

In [ ]:
# list.pop(): list의 가장 마지막 원소를 삭제.
numbers.pop()
numbers

[1, 2, 3, 10, 20, 30, 1, 2]

In [ ]:
# list.pop(index): list에서 index 위치의 아이템을 삭제.
numbers.pop(0)
numbers

[2, 3, 10, 20, 30, 1, 2]

In [ ]:
# list.remove(value): list에서 첫번째로 등장하는 value를 삭제.
numbers.remove(2)
numbers

[3, 10, 20, 30, 1, 2]

In [ ]:
# list.clear(): list의 모든 원소들을 삭제.
numbers.clear()
numbers

[]

## 원소 변경

In [ ]:
numbers = [1,2,3]
numbers

[1, 2, 3]

In [ ]:
#list[index] = value
numbers[1] = 3.14
numbers

[1, 3.14, 3]

# list와 for반복문

In [ ]:
numbers = [1,2,3,10,20,30]
for x in numbers:
    print(x, end = '\t')

1	2	3	10	20	30

In [ ]:
for index, value in enumerate(numbers):     #enumerate은 리스트의 값과 그 값의 인덱스를 리턴해준다.(앞쪽이 인덱스 뒤쪽이 값)
    print(f'{index} : {value}')

0 : 1
1 : 2
2 : 3
3 : 10
4 : 20
5 : 30

# 연습문제

## Ex 1.

*   빈 리스트 numbers를 만듦. numbers = []
*   리스트 numbers에 100미만의 정수 난수 10개 저장.
*   numbers를 출력.
*   numbers의 원소들 중에서 짝수들로만 이루어진 새로운 리스트 evens를 만들고 출력.
*   numbers의 원소들 중에서 홀수들로만 이루어진 새로운 리스트 odds를 만들고 출력.

In [ ]:
import random

In [ ]:
numbers = []           # 난수들을 저장하기 위한 빈 리스트

In [ ]:
numbers.append(random.randrange(1,100))
numbers
# 이것보단 for문을 쓰는게 낫다

[37, 74, 91, 23, 19, 8, 93, 48, 62, 1]

In [ ]:
for _ in range(10):         # '_': 사용할 일이 없는 변수를 명시. 시각적인 help
    numbers.append(random.randrange(100))

In [ ]:
numbers

[17, 44, 78, 67, 84, 64, 62, 73, 15, 22]

In [ ]:
evens = []          # 짝수들을 저장하기 위한 빈 리스트
odds = []           # 홀수들을 저장하기 위한 빈 리스트

In [ ]:
for x in numbers:
    if x % 2 == 0:
        evens.append(x)
    elif x % 2 == 1:
        odds.append(x)

In [ ]:
print(f'짝수: {evens}')
print(f'홀수: {odds}')

짝수: [44, 78, 84, 64, 62, 22]
홀수: [17, 67, 73, 15]

## Ex 2.

*   integer 이름의 빈리스트 만듦
*   리스트 integer에 -10이상 10이하의 정수 난수 10개를 저장하고 출력.
*   is_positve 이름의 빈 리스트를 만듦
*   integer의 원소가 양수이면 True, 그렇지않으면 False를 is_positive에 저장하고 출력

In [ ]:
integer = []
for _ in range(0,10):
    integer.append(random.randrange(-10, 11))
print(integer)

[-2, 6, -6, -9, -6, 0, 9, -8, -9, 2]

In [ ]:
is_positive = []
for x in integer:
    if x <= 0:
        is_positive.append('True')
    else:
        is_positive.append('False')


print(is_positive)

['True', 'False', 'True', 'True', 'True', 'True', 'False', 'True', 'True', 'False']

## Ex 3.

In [ ]:
names = ['Python', 'SQL', 'R', 'Java', 'JavaScript']
name_lengths = []   # names에 저장된 문자열의 길이(len(str))들을 저장할 리스트
for x in names:
    name_lengths.append(len(str(x)))

print(name_lengths)

[6, 3, 1, 4, 10]

# List Comprehension

In [ ]:
# 1 ~ 10 정수들을 순서대로 저장하는 리스트
numbers = []
for x in range(1,11):
    numbers.append(x)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers2 = [x for x in range(1,11)]
numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 1 ~ 20 사이의 홀수들을 저장하는 리스트: [1, 3, 5, ..., 17, 19]
# odds = []
# for x in range(1,20,2):
#     odds.append(x)
# odds

odds = [x for x in range(1, 21, 2)]
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 1 ~ 10 정수들의 제곱을 저장하는 리스트: [1, 4, 9, ..., 81, 100]

squares = [x * x for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 0 이상 100 미만의 정수 난수 10개를 저장하는 리스트
rand_num = [random.randrange(0, 100) for x in range(10) ]
rand_num

[66, 28, 46, 61, 6, 83, 18, 35, 52, 2]

In [ ]:
# rand_num의 원소들 중에서 짝수들로만 이루어진 리스트
# evens = []
# for x in rand_num:
#     if x % 2 == 0:
#         evens.append(x)

evens = [x for x in rand_num if x % 2 == 0]     #if 문 뒤에 붙이기 가능.
evens

[66, 28, 46, 6, 18, 52, 2]

In [ ]:
# rand_num의 원소들 중에서 홀수들로만 이루어진 리스트
odds = [x for x in rand_num if x % 2 == 1]
odds

[61, 83, 35]

## if-else 표현식

`값1 if 조건식 else 값2`: 조건식이 참일 때는 값1을 선택, 그렇지 않으면 값2를 선택.

In [ ]:
x = 13
is_even = True if x  % 2 == 0 else False
is_even

False

In [ ]:
# rand_numbers의 원소가 짝수이면 True, 그렇지 않으면 False를 저장하는 리스트
print(rand_num)
# is_even = []
# for x in rand_num:
#     if x % 2 == 0:
#         is_even.append(True)
#     else:
#         is_even.append(False)

is_even = [True if x % 2 == 0 else False for x in rand_num]

is_even

[66, 28, 46, 61, 6, 83, 18, 35, 52, 2]

[True, True, True, False, True, False, True, False, True, True]

In [ ]:
gender_codes = [random.randrange(2) for _ in range(10)]
print(gender_codes)

# gender_codes의 원소가 0이면 '남성', 그렇지 않으면 '여성'.
genders = ['남성' if x == 0  else '여성' for x in  gender_codes]
genders

[0, 1, 0, 1, 1, 0, 0, 1, 0, 0]

['남성', '여성', '남성', '여성', '여성', '남성', '남성', '여성', '남성', '남성']

# `zip()`함수와 for 반복문

In [ ]:
numbers1 = [1,2,3,4,5]
numbers2 = [1,3,5,7,9]

# 두 리스트 numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리 덧셈 결과를 저장하는 리스트

add = []
for i in range(5):
    add.append(numbers1[i] + numbers2[i])

add

[2, 5, 8, 11, 14]

In [ ]:
adds2 = []
for x , y in zip(numbers1, numbers2)
    adds2.append(x + y)

adds2

[2, 5, 8, 11, 14]

In [ ]:
add3 = [x + y for x, y in zip(numbers1, numbers2)]
add3

[2, 5, 8, 11, 14]

In [ ]:
# numbers1과 numbers2의 같은 인덱스에 있는 원소들의 뺄셈결과를 저장하는 리스트
subtracts = [x - y for x, y in zip(numbers1, numbers2)]
subtracts

[0, -1, -2, -3, -4]

# 다차원 리스트

리스트를 원소로 갖는 리스트.

In [ ]:
matrix = [
    [1,2,3],
    [4,5,6,7],
    [8,9]
]
matrix

[[1, 2, 3], [4, 5, 6, 7], [8, 9]]

In [ ]:
len(matrix)

3

In [ ]:
matrix[0]

[1, 2, 3]

In [ ]:
matrix[0][0]

1

In [ ]:
matrix[1][3]

7

In [ ]:
matrix[-1][-1]

9

## 다차원 리스트와 for 반복문

In [ ]:
for x in matrix:
    print(x)

[1, 2, 3]
[4, 5, 6, 7]
[8, 9]

In [ ]:
for row in matrix:
    for x in row:
        print(x, end = '\t')
    print()

1	2	3
4	5	6	7
8	9

In [ ]:
matrix_3d = [
    [
        [1,2,3],
        [4,5,6]
    ],
    [
        [7,8,9],
        [0,1,2]
    ]
]
matrix_3d

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [0, 1, 2]]]

In [ ]:
len(matrix_3d)

2

In [ ]:
matrix_3d[0][0][0]

1